In [295]:
import streamlit as st
import pandas as pd
import plotly.express as px
import altair as alt
import numpy as np
from st_aggrid import GridOptionsBuilder, AgGrid, GridUpdateMode, DataReturnMode

import openpyxl
from datetime import datetime, timedelta, date
from dateutil.relativedelta import relativedelta
from itertools import islice

In [296]:
show_fig = False

# Scenario 1

In [297]:

# open excel file
excel_file_01 = "tenancy_list_scenario_01.xlsx"
wb_01 = openpyxl.load_workbook(excel_file_01, data_only=True)

# getting all sheets
sheets = wb_01.sheetnames

# getting a particular sheet
sheet_params_01 = wb_01["params"]
sheet_data_01 = wb_01["tenant"]

# reading parameters
date_start_01 = sheet_params_01["C4"].value
date_end_01 = sheet_params_01['C5'].value
area_rentable_office_01 = sheet_params_01["C6"].value

/Users/mawan/miniconda3/envs/office-revenues/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning:

Unknown extension is not supported and will be removed

# Scenario 2

In [298]:

# open excel file
excel_file_02 = "tenancy_list_scenario_02b.xlsx"
wb_02 = openpyxl.load_workbook(excel_file_02, data_only=True)

# getting all sheets
sheets = wb_02.sheetnames

# getting a particular sheet
sheet_params_02 = wb_02["params"]
sheet_data_02 = wb_02["tenant"]

# reading parameters
date_start_02 = sheet_params_02["C4"].value
date_end_02 = sheet_params_02['C5'].value
area_rentable_office_02 = sheet_params_02["C6"].value

In [299]:

# Function: Read a sheet into dataframe
# sheet_to_read is type openpyxl.workbook.Workbook
def read_worksheet_into_dataframe(sheet_to_read):
    data = sheet_to_read.values
    cols = next(data)[1:]
    data = list(data)
    #idx = [r[0] for r in data]
    data = (islice(r, 1, None) for r in data)
    df_data = pd.DataFrame(data, columns=cols)

    # drop rows where column Tenant is Null/NA
    df_data = df_data[df_data['Tenant'].notna()]
    return df_data

In [300]:

# Function: Calculate revenue
def calculate_revenue(date_start, date_end, area_rentable_office, df_data, product_type, report_sum):

    # generate reporting daterange based on start and end dates
    my_reporting_date_range = pd.date_range(start=date_start, end=date_end, freq='MS')

    # Create report dataframe using datetime index for period
    df_report_rental_charge = pd.DataFrame(my_reporting_date_range, columns=['date'])   # Rental revenue
    df_report_sc_charge = pd.DataFrame(my_reporting_date_range, columns=['date'])       # Service charge revenue
    df_report_sc_charge_rate = pd.DataFrame(my_reporting_date_range, columns=['date'])       # Service charge rate
    df_report_occupancy = pd.DataFrame(my_reporting_date_range, columns=['date'])       # Occupancy rate

    # Set 'date' as the index
    df_report_rental_charge = df_report_rental_charge.set_index('date')
    df_report_sc_charge = df_report_sc_charge.set_index('date')
    df_report_occupancy = df_report_occupancy.set_index('date')
    df_pid_tenant_name_mapping = pd.DataFrame()


    # Calculate how much is SC rate based on months and years
    # April 2022: 75000
    # April 2024: 80000
    # April 2026: 85000

    sc_data = [
        [datetime(2018, 4, 1), 65000.00],
        [datetime(2020, 4, 1), 70000.00],
        [datetime(2022, 4, 1), 70000.00],
        [datetime(2024, 4, 1), 75000.00],
        [datetime(2027, 4, 1), 80000.00],
        [datetime(2030, 4, 1), 85000.00],
        [datetime(2033, 4, 1), 90000.00],
    ]

    # select rows according to product_type passed in as parameter into this function
    options = [product_type]
    df_by_product = df_data[df_data['Product_Type'].isin(options)]

    substring = '-'

    # start revenue calculation
    # iterate each row of dataframe
    for index, row in df_by_product.iterrows():
        vacant = False
    
        data_area = row['Area']
        data_rental_rate = row['Rental_Rate']
        data_sc_rate = row['SC_Rate']
        data_tenant_name = row['Tenant']
        charge_type = row['Chg_Type']

        if (data_area == None) or (substring in str(data_area)):
            data_area = 0.0

        if (data_rental_rate == None) or (substring in str(data_rental_rate)):
            data_rental_rate = 0.0

        if (data_sc_rate == None) or (substring in str(data_sc_rate)):
            data_sc_rate = 0.0

        # calculate monthly rental charge
        if charge_type == 'A': # if calculation based on area
            calc_rental_charge = data_area * data_rental_rate
        else: # else lumpsum
            calc_rental_charge = data_rental_rate
        
        # calculate monthly service charge
        calc_service_charge = data_area * data_sc_rate

        start = row["Start"]
        end = row["End"]

        # if end is empty, it means it is vacant
        if (pd.isna(end)) or (end == '-'):
            vacant = True
            end = date_end

        # generate name for the column
        str_level = str(row['Floor']).split('.')[0]
        str_zone = str(row['Zone'])
        if (str_level == 'None'):
            str_level = 'NA'
        if (str_zone == 'None'):
            str_zone = 'NA'
        str_sep = '-'
        str_temps = [str(str_level), str(str_zone), str(index)]
        str_column_name = str_sep.join(str_temps)
        dict01 = {'pid':[str_column_name], 'cust_name':[str_level + '-' + str_zone + '   ' + data_tenant_name]}
        df_temp = pd.DataFrame(dict01)
        df_pid_tenant_name_mapping = pd.concat([df_pid_tenant_name_mapping, df_temp], ignore_index=True)

        # if start is empty, set start equals to date_start parameter
        if (pd.isna(start)) or (start == '-'):
            start = date_start
            
        tenant_date_range = pd.date_range(start=start, end=end, freq='MS')

        if not vacant:
            # create daterange series for tenant period
            tenant_date_range = pd.date_range(start=start, end=end, freq='MS')

            # generate rental charge dataframe
            df_tenant_rental_charge = pd.DataFrame(tenant_date_range, columns=['date']) # create new df with only 1 column called 'date' and fill with the date range from lcd to led
            df_tenant_rental_charge = df_tenant_rental_charge.set_index('date') # set 'date' as the index
            df_tenant_rental_charge[str_column_name] = calc_rental_charge # add a new column called <num> and fill all with the rental_charge value

            # join with report dataframe based on date
            df_report_rental_charge = df_report_rental_charge.join(df_tenant_rental_charge, how="left")

            # ORIGINAL ----- START
            # # generate service charge report
            # df_sc_data = pd.DataFrame(data=sc_data, columns=['date', 'sc']).set_index('date')
            # sc_date_range = pd.date_range(start=df_sc_data.index.values.min(), end=df_sc_data.index.values.max(), freq='MS')
            # df_sc = pd.DataFrame(sc_date_range, columns=['date'])
            # df_sc = df_sc.set_index('date')

            # for mydate in df_sc_data.index:
            #     date1 = mydate
            #     date2 = mydate+relativedelta(years=2)-relativedelta(days=1)
            # #print('{0} - {1}'.format(date1.strftime('%Y-%m-%d'), date2.strftime('%Y-%m-%d')))
            #     if data_sc_rate == 0:
            #         df_sc.loc[date1.strftime('%Y-%m-%d'):date2.strftime('%Y-%m-%d'), str_column_name] = 0
            #     elif data_sc_rate == 84100:
            #         df_sc.loc[date1.strftime('%Y-%m-%d'):date2.strftime('%Y-%m-%d'), str_column_name] = 84100
            #     else:
            #         df_sc.loc[date1.strftime('%Y-%m-%d'):date2.strftime('%Y-%m-%d'), str_column_name] = df_sc_data.loc[mydate, 'sc']
            # ORIGINAL ----- END

            # NEW ----- START
            # generate service charge report
            # df_sc_data = pd.DataFrame(data=sc_data, columns=['date', 'sc']).set_index('date')
            df_sc_data = pd.DataFrame(data=sc_data, columns=['date', 'sc'])
            df_sc_data.reset_index(inplace=True)
            sc_date_range = pd.date_range(start=df_sc_data.date.values.min(), end=df_sc_data.date.values.max(), freq='MS')
            df_sc = pd.DataFrame(sc_date_range, columns=['date'])
            df_sc = df_sc.set_index('date')

            # data_sc_rate = 70000
            # str_column_name = 'TEST'

            length = len(df_sc_data.index)
            for i in range(length):
                if i < length-1:
                    date1 = df_sc_data.iloc[i,1]
                    date2 = df_sc_data.iloc[i+1,1]
                    sc_rate = df_sc_data.iloc[i,2]
                    # print(f"{date1} to {date2} is {sc_rate}" )
                    if data_sc_rate == 0:
                        df_sc.loc[date1.strftime('%Y-%m-%d'):date2.strftime('%Y-%m-%d'), str_column_name] = 0
                    elif data_sc_rate == 84100:
                        df_sc.loc[date1.strftime('%Y-%m-%d'):date2.strftime('%Y-%m-%d'), str_column_name] = 84100
                    else:
                        df_sc.loc[date1.strftime('%Y-%m-%d'):date2.strftime('%Y-%m-%d'), str_column_name] = df_sc_data.loc[i, 'sc']
            # ORIGINAL ----- END

            df_sc_rate_temp = df_sc
            df_sc = df_sc * data_area

            df_tenant_service_charge = pd.DataFrame(tenant_date_range, columns=['date'])
            df_tenant_service_charge = df_tenant_service_charge.set_index('date')
            df_tenant_service_charge = df_tenant_service_charge.join(df_sc, how='left')
            df_report_sc_charge = df_report_sc_charge.join(df_tenant_service_charge, how="left")

            df_tenant_service_charge_rate = pd.DataFrame(tenant_date_range, columns=['date'])
            df_tenant_service_charge_rate = df_tenant_service_charge_rate.set_index('date')
            df_tenant_service_charge_rate = df_tenant_service_charge_rate.join(df_sc_rate_temp, how='left')
            df_report_sc_charge_rate = df_report_sc_charge_rate.join(df_tenant_service_charge_rate, how="left")
            # generate occupancy report
            df_tenant_occupancy = pd.DataFrame(tenant_date_range, columns=['date'])
            df_tenant_occupancy = df_tenant_occupancy.set_index('date')
            df_tenant_occupancy[str_column_name] = data_area
            df_report_occupancy = df_report_occupancy.join(df_tenant_occupancy, how="left")

        
        else: # if vacant
            # generate occupancy report
            df_tenant_occupancy = pd.DataFrame(tenant_date_range, columns=['date'])
            df_tenant_occupancy = df_tenant_occupancy.set_index('date')
            df_tenant_occupancy[str_column_name] = -1.0
            df_report_occupancy = df_report_occupancy.join(df_tenant_occupancy, how="left")


    # Clean dataframes
    df_report_rental_charge.fillna(0, inplace=True)
    df_report_sc_charge.fillna(0, inplace=True)
    df_report_occupancy.fillna(0, inplace=True)

    # sum each rows
    df_report_rental_charge['sum'] = df_report_rental_charge.sum(axis=1)
    df_report_sc_charge['sum'] = df_report_sc_charge.sum(axis=1)
    df_report_occupancy['sum'] = df_report_occupancy.sum(axis=1)
    
    # create summary report
    df_sum = pd.DataFrame()
    df_sum['Rental'] = df_report_rental_charge.resample(report_sum).sum()['sum']
    df_sum['SC'] = df_report_sc_charge.resample(report_sum).sum()['sum']
    df_sum['Total'] = df_sum.sum(axis=1)

    df_sum['Occ'] = df_report_occupancy.resample(report_sum).mean()['sum']
    df_sum['OccPct'] = df_sum['Occ']/area_rentable_office
    df_sum.reset_index(inplace=True)
    return df_sum, df_report_rental_charge, df_report_sc_charge, df_report_occupancy, df_report_sc_charge_rate, df_pid_tenant_name_mapping


df_data_01 = read_worksheet_into_dataframe(sheet_data_01)
df_sum_01, df_report_rental_charge_01, df_report_sc_charge_01, df_report_occupancy_01, df_report_sc_charge_rate_01, df_pid_tenant_name_mapping_01 = calculate_revenue(date_start_01, date_end_01, area_rentable_office_01, df_data_01, 'Office', 'Y')

df_data_02 = read_worksheet_into_dataframe(sheet_data_02)
df_sum_02, df_report_rental_charge_02, df_report_sc_charge_02, df_report_occupancy_02, df_report_sc_charge_rate_02, df_pid_tenant_name_mapping_02 = calculate_revenue(date_start_02, date_end_02, area_rentable_office_02, df_data_02, 'Office', 'Y')

## This is how to remove NaT

In [301]:
df_data_01.head(5).replace({np.nan: None},)

,Location,Floor,Zone,Product_Type,Group,Tenant,Area,Chg_Type,Start,End,Rental_Rate,SC_Rate,Notes_1
0,TE,PH,All,Office,Y,Medco Energi International,1413.90,A,2016-01-01 00:00:00,2034-06-30 00:00:00,0,84100,None
1,TE,55,All,Office,Y,Medco Energi International,1326.08,A,2016-01-01 00:00:00,2034-06-30 00:00:00,347395.833333,84100,None
2,TE,53,All,Office,Y,Medco Energi International,1625.42,A,2016-01-01 00:00:00,2034-06-30 00:00:00,347395.833333,84100,None
3,TE,52,All,Office,Y,MEPN,1629.22,A,2019-07-01 00:00:00,2034-06-30 00:00:00,347395.833333,84100,None
4,TE,51,C,Office,Y,MEI,396.41,A,None,2034-06-30 00:00:00,347395.833333,84100,None

## Format Style for dataframe

In [302]:
def format_time_nat(t, fmt='{:%Y.%m}'):
    try:
        return fmt.format(t)
    except ValueError:
        return t

df_data_01.head(5).style.format(
    {
        "Area": "{:20,.2f}",
        "Rental_Rate": "{:20,.2f}",
        "SC_Rate": "{:20,.0f}",
        "Start": format_time_nat,
        "End": format_time_nat,
        },
    # {}
)

# STREAMLIT

In [303]:
st.set_page_config(layout = "wide")

## B/W Heatmap

In [304]:
# B/W Heatmap of occupancy
df_occ_stat = df_report_occupancy_01.drop(['sum'], axis = 1)
new_col_names = df_pid_tenant_name_mapping_01['cust_name'].tolist()
df_occ_stat.columns = new_col_names

df_occ_stat.mask(df_occ_stat > 1, 1, inplace =True) # change to 0 and 1 (1 is for values greater than 0)

In [305]:
df_occ_stat[df_occ_stat.columns[::-1]] # reverse column order
df_occupied = df_occ_stat.filter(regex="[a-zA-Z0-9]$", axis=1)

In [306]:
fig4 = px.imshow(df_occupied[df_occupied.columns[::-1]].loc['2022':'2032'], color_continuous_scale="gray", height=1000)
fig4.update_traces(xgap = 1, ygap = 1)
if show_fig:
    fig4.show()

In [307]:
df_vacant = df_occ_stat.filter(regex="\{Vacant\}$", axis=1)
fig4 = px.imshow(df_vacant[df_vacant.columns[::-1]].loc['2022':'2032'], color_continuous_scale="gray", height=1000)
fig4.update_traces(xgap = 1, ygap = 1)
if show_fig:
    fig4.show()

In [308]:

# df_sum.to_excel('test1.xlsx')


fig = px.bar(
    df_sum_01,
    x = 'date',
    y = 'OccPct',
    title = "Occupancy Rates",
    height=500,
    text_auto=True,
    
)
fig.update_traces(marker=dict(line=dict(width=5)))
fig.update_layout(xaxis_tickangle = -45)
if show_fig:
    fig.show()

In [309]:

fig = px.bar(
    df_sum_01,
    x = 'date',
    y = ["Rental", "SC"],
    title = "Revenue",
    labels = {'Rental':'Rp'},
)
fig.update_layout(xaxis_tickangle = -45)
if show_fig:
    fig.show()

In [310]:
df_sum_01.dtypes
pd.to_datetime(df_sum_01['date'])

0     2022-01-31
1     2022-02-28
2     2022-03-31
3     2022-04-30
4     2022-05-31
         ...
127   2032-08-31
128   2032-09-30
129   2032-10-31
130   2032-11-30
131   2032-12-31
Name: date, Length: 132, dtype: datetime64[ns]

# Write to Excel file for presentation

In [311]:
# write to excel file
import xlwings as xw
wb = xw.Book('Revenue 2023 2032 simulation.xlsx')
my_sheet = wb.sheets['TE Office']
my_sheet.clear_contents()

In [312]:
# import xlwings as xw
# wb10 = xw.Book()
# # sht1 = wb.sheets['tenant']
# sheet10 = wb10.sheets[0]
# sheet10.range('A1').value = df_report_occupancy_01

### Scenario 1

In [313]:
df_to_show = df_sum_01.copy()

my_sheet.range('B3').value = df_to_show.transpose()
my_sheet.range('C4:M4').number_format = 'yyyy'
my_sheet.range('3:4').font.bold = True
my_sheet.range('B:B').font.bold = True
my_sheet.range('7:7').font.bold = True
my_sheet.range('C5:M8').number_format = '0,00#'
my_sheet.range('C9:M9').number_format = '0.00%'

### Scenario 2

In [314]:
df_to_show = df_sum_02.copy()

my_sheet.range('B12').value = df_to_show.transpose()
my_sheet.range('C13:M13').number_format = 'yyyy'
my_sheet.range('12:13').font.bold = True
my_sheet.range('B:B').font.bold = True
my_sheet.range('16:16').font.bold = True
my_sheet.range('C14:M17').number_format = '0,00#'
my_sheet.range('C18:M18').number_format = '0.00%'

# Display result dataframe (formatted)

In [315]:

format_mapping = {
    "date": "{:%Y}",
    "Rental": "Rp {:,.2f}",
    "SC": "Rp {:,.2f}",
    "Total": "Rp {:,.2f}",
    "Occ": "{:,.2f} m2",
    "OccPct": "{:,.2%}",
}

# print dataframe
df_sum_styled = df_sum_01.style.format(format_mapping)
#df_sum_styled['date'] = df_sum_styled['date'].dt.strftime("%Y")
df_sum_styled

In [316]:

# # Heatmap chart
# df = df_report_rental_charge.loc['2023']
# df = df.drop(['sum'], axis = 1)
# df = df.T
# fig2 = px.density_heatmap(df)
# fig2.show()

In [317]:

# fig3 = px.colors.qualitative.swatches()
# fig3.show()

In [318]:
# df.filter(regex='vacant', axis=1)

In [319]:
# df.head(5)

In [320]:
# # write to excel file
# import xlwings as xw

# wb = xw.Book()
# wb.sheets.add('1')

# my_sheet = wb.sheets['1']
# my_sheet.range('B3').value = df_report_sc_charge_rate
# wb.sheets.add('2')
# my_sheet2 = wb.sheets['2']
# my_sheet2.range('B3').value = df_report_sc_charge