In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

In [3]:
df2 = {'pid':'PH-All-0', 'cust_name':'MEI'}

In [4]:
df = df.append(df2, ignore_index = True)

/var/folders/5h/r0jj6lhn14z274sshn24wkhm0000gn/T/ipykernel_40673/89406493.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2, ignore_index = True)

In [5]:
df

        pid cust_name
0  PH-All-0       MEI

In [10]:
df2 = {'pid':['55-All-1'], 'cust_name':['MEI']}
df3 = pd.DataFrame(df2)

In [11]:
df = pd.concat([df, df3], ignore_index = True)

In [12]:
df

        pid cust_name
0  PH-All-0       MEI
1  55-All-1       MEI